@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}

.glass-effect {
  background: rgba(17, 17, 17, 0.7) !important;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
